
body {
    background-image: url(../images/clouds.jpg);
}
.text-center, .btn {
    text-align: center;
    color: yellow;
    -webkit-text-stroke: .8px navy; 
    
    font-weight: bold;
}

.center{
    margin: auto;
}

.row    {
    margin-top: 15px;
}

#Game, #countdown, #score {
    font-size: 24pt;
}

.btn {
    font-size: 18pt;
    margin: auto;
    background-color: red;
}


#button-display {
    margin: auto;
}

#image {
    height: 400px;
    width: 400px;
    margin: auto;
}

